#C++ files
*.d
*.o

#Executable files
*.exe
fast-chess*
dummy_engine
random_mover

#Cmake
cmake-build-debug
cmake-build-release

# IDE
*.vscode
.idea

# Mac
.DS_Store

# Misc
*.txt
*.json
tmp
UHO*
*.bat
*.pgn

