name: cutechess tests

on:
  push:
    branches: [ tb-adjudication ]
  workflow_call:

jobs:
  Tests:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { name: "Ubuntu 22.04", os: ubuntu-22.04, shell: "bash {0}" }

    defaults:
      run:
        shell: ${{ matrix.config.shell }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Installing required packages
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          clang++ --version
          g++ --version

      - name: Create cutechess-testing directory
        run: |
          mkdir cutechess-testing

      - name: cache syzygy
        id: cache-syzygy
        uses: actions/cache@v4
        with:
           path: |
              cutechess-testing/3-4-5-wdl/
              cutechess-testing/3-4-5-dtz/
           key: key-syzygy

      # Note: unlike fastchess, cutechess requires both wdl and dtz tables for adjudication to work correctly.
      - name: download syzygy 3-4-5 if needed
        working-directory: cutechess-testing
        if: steps.cache-syzygy.outputs.cache-hit != 'true'
        run: |
          wget --no-verbose -r -nH --cut-dirs=2 --no-parent --reject="index.html*" -e robots=off https://tablebase.lichess.ovh/tables/standard/3-4-5-wdl/
          wget --no-verbose -r -nH --cut-dirs=2 --no-parent --reject="index.html*" -e robots=off https://tablebase.lichess.ovh/tables/standard/3-4-5-dtz/

      - name: Run cutechess tests
        run: |
          bash app/tests/cutechess/cutechess.sh
