name: FastChess

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  Artifacts:
    if: github.ref == 'refs/heads/master'
    uses: ./.github/workflows/artifacts.yml
  E2E-Tests:
    uses: ./.github/workflows/e2e_tests.yml
  Unit-Tests:
    uses: ./.github/workflows/unit_tests.yml
  Cutechess-Tests:
    uses: ./.github/workflows/cutechess_tests.yml
