name: Unit Tests

on:
  workflow_call:

jobs:
  tests:
    name: ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - if: runner.os == 'Linux'
        run: sudo sysctl -w vm.mmap_rnd_bits=28

      - run: |
          make clean
          make -j2 tests
